@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-textMain bg-primary;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4B5563;
}
